nextjs-blog:
  component: "@sls-next/serverless-component@3.6.0"
  inputs:
    cloudfront:
      defaults:
        forward:
          headers:
            [
              CloudFront-Is-Desktop-Viewer,
              CloudFront-Is-Mobile-Viewer,
              CloudFront-Is-Tablet-Viewer,
              CloudFront-Viewer-Country,
            ]
  org: victor2810
  app: nextjs-blog
  service: webapp
